img {
	height: 100px;
}

li {
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	color:gray;
	margin: 10px;
}

.header {
	float:right;
}

.header img {
	height: 12px;
	width: 12px;
}
.header img:hover {
	height: 13px;
	width: 13px;
	cursor: pointer;
}
.header button {
	background-color:#3369e8;
	border-radius: 3px;
	font-family: Arial;
	color:white;
	height: 30px;
	width: 80px;
	border-style: none;
}
.header button:hover {
	border-style: solid;
	border-color: navy;
	cursor: pointer;
}
.bar {
	width: 450px;
	height: 25px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
}
.submit {
	font-weight: bold;
	font-family: Arial;
	font-size: 13px;
	height: 35px;
	border-style: none;
	background-color: #eeeded;
	color: #6b6b6b;
	border-radius: 2px;
}

.submit:hover {
	border-style: solid;
	border-color: silver;
	cursor: pointer;
}
.submitdiv {
	margin: 0 0 0 100px;
}

.google-core {
	height: 500px;
	width: 500px;
	margin: auto;
	position: relative;
	top: 250px;
}
.google-logo {
	margin: 0 0 0 80px;
}
.footer {
	clear: both;
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #eeeded;
}
.footer2 {
	float: right;
	margin: 0 50px 0 0;
}
#link:hover {
	text-decoration: underline;
	cursor: pointer;
}